<!-- Page Content -->
    <!-- /.content-section-a -->
    <a name="login"></a>
   
        <div class="container" >

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>GWU Carpool</h1>
                        
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#driver_info" class="btn btn-default btn-lg"><span class="network-name">driver</span></a>
                            </li>
                            <li>
                                <a href="#driver_info" class="btn btn-default btn-lg"><span class="network-name">rider</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

   
    <!-- /.content-section-a -->

    
    <!-- /.content-section-b -->

	<a  name="about"></a>
    <div class="content-section-a" style="color:black">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <p class="lead">GWU-carpool is a carpooling network that connects people with similar commute routes to be able to share rides. Drivers can start a trip event with Route and Time, then waiting for riders to join in. Riders can join in a trip event with Route and Time, then waiting for drivers’ response.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Team members</h2>
                    <p class="lead">Qi Liu<br/>Yuan Gao<br/>Luona Guo<br/>Yifan Zhu<br/>Bei Xia</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->